<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>웹소켓 예제</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>


<div class="container bg-info">
    <h2>webSocket 예제</h2>

    <a class="btn btn-secondary" href="http://localhost:8080/ws">websocket 연결하기</a>

    <br><label>메세지 입력 : </label><input id="sendInput" class="mx-3" type="text"><button id="sendBtn" type="button">보내기</button>
    <div id="status"> 연결 관리 : </div>

    <div>
        <h2>메세지 내용</h2>
        <div id="chatting">

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<script>

    var userId = window.prompt("사용자 닉네임?");

    function connect() {
        //StompConfig.java에 설정된 endpoint로 SockJS 객체, StompClient 객체 생성
        var socket = new SockJS("/ws");
        //do Handshake
        stompClient = Stomp.over(socket);

        // connect(header,연결 성공시 콜백,에러발생시 콜백)
        stompClient.connect({}, function () {
                //subscribe(subscribe url,해당 url로 메시지를 받을때마다 실행할 함수)
                sub = stompClient.subscribe("/topic/chat", function (e) {
                    //e.body에 전송된 data가 들어있다
                    showMessage(JSON.parse(e .body));
                });
            },
            function(e){
                //에러 콜백
                alert('에러발생!!!!!!');
            }
        );
    }

    connect();

    //엔터 눌렀을때 전송
    $("#sendBtn").on("click",function(e){
         send();
    });

    //화면에 메시지를 표시하는 함수
    function showMessage(data){
        if(data.userId===userId){
            $('#chatting').append("<p class='me text-danger'>"+data.userId+" : "+data.content+"</p>");
        } else {
            $('#chatting').append("<p class='other text-primary'>"+data.userId+" : "+data.content+"</p>");
        }
    }

    //메시지 브로커로 메시지 전송
    function send(){
        data = {
            'userId' :userId,
            'content': $("#sendInput").val()
        };
        // send(destination,헤더,페이로드)
        stompClient.send("/app/chat", {}, JSON.stringify(data));
        $("#sendInput").val('');
    }
</script>
</body>
</html>