#wrap{
    width:800px;
    height: 910px;
    margin: 0 auto;
}

.content{
    width:800px;
    height:100%;

}

.content > .main-content{
  margin-top:150px;
}

.join-ment{
    font-size:30px;
    font-weight:500;
}

input::placeholder{
    text-align:center;
}

#loginIdInput, #passwordInput
, #confirmPasswordInput, #phoneNumberInput
, #emailInput{
    background-color:#F5F5F5;
}


#joinBtn , #confirmBtn{
    background-color:rgb(232,222,248);
}
